iac/cft/lambda.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  - This CloudFormation template provisions Lambda functions, IAM roles, and necessary policies 
    to manage operations on DynamoDB tables, such as backups, restores, data exports to S3, 
    and data imports from S3. 

Parameters:

  DynamoDBBucketName:
    Type: String
    Description: "The name of the S3 bucket to use for exporting DynamoDB data. For example: dynamodbexportdata"
    Default: "dynamodbexport25"

  LambdaExecutionRoleName:
    Type: String
    Description: "The name of the IAM role that the Lambda function will assume to access DynamoDB and S3 resources. For example: ops-lambda-dynamodb-role"
    Default: "ops-lambda-execution-role"

  GlueJobExecutionRoleName:
    Type: String
    Description: "The name of the IAM role that the Glue Job will assume to access DynamoDB and S3 resources. For example: ops-gluejob-execution-role"
    Default: "ops-gluejob-execution-role"

  FindLatestBackupFunctionName:
    Type: String
    Description: "The name of the Lambda function responsible for finding the latest backup in DynamoDB. For example: ops-find-latest-backup"
    Default: "ops-find-latest-backup"

  RestoreBackupFunctionName:
    Type: String
    Description: "The name of the Lambda function responsible for restoring a DynamoDB table from a backup. For example: ops-restore-backup"
    Default: "ops-restore-backup"

  CheckRestoreStatusFunctionName:
    Type: String
    Description: "The name of the Lambda function responsible for checking the restore status of a DynamoDB table. For example: ops-check-restore-status" 
    Default: "ops-check-restore-status"

  DeleteDynamoDBDataGlueName:
    Type: String
    Description: "The name of the Lambda function responsible for deleting all items from a DynamoDB table. For example: ops-delete-dynamodb-data"
    Default: "ops-delete-dynamodb-data"

  DeleteDynamoDBTableFunctionName:
    Type: String
    Description: "The name of the Lambda function responsible for permanently deleting the DynamoDB table (after all items are deleted). For example: ops-delete-dynamodb-table"
    Default: "ops-delete-dynamodb-table"

  ExportDynamoDBToS3GlueName:
    Type: String
    Description: Name of the Glue job for exporting DynamoDB to S3
    Default: "ops-export-to-s3"

  ImportS3ToDynamoDBGlueName:
    Type: String
    Description: Name of the Glue job for importing S3 data DynamoDB
    Default: "ops-imports3-to-dynamodb"

  GlueExportpythonver:
    Type: String
    Default: "3"
    Description: Python version for Glue job

  GlueExportnumberofworkers:
    Type: Number
    Default: 2
    Description: Number of workers for Glue job

  GlueExportmaxconcuruns:
    Type: Number
    Default: 1
    Description: Maximum concurrent runs for Glue job

  GlueExportworkertype:
    Type: String
    Default: "G.1X"
    Description: Glue worker type (e.g., G.1X, G.2X)

  GlueExportTimeout:
    Type: Number
    Default: 60
    Description: Timeout in minutes for Glue job

  GlueExportversion:
    Type: String
    Default: "3.0"
    Description: Glue version


Resources:
  # IAM Role for Lambda Function Execution
  LambdaExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Ref LambdaExecutionRoleName  
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action: "sts:AssumeRole"
            Principal:
              Service: "lambda.amazonaws.com"
      Policies:       
        - PolicyName: "LambdaExecutionPolicy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:ListBackups
                  - dynamodb:DescribeTable
                  - dynamodb:RestoreTableFromBackup
                  - dynamodb:Scan
                  - dynamodb:DeleteItem
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:DeleteTable
                  - dynamodb:UpdateItem
                  - dynamodb:BatchWriteItem
                  - dynamodb:Query
                Resource: '*'
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${AWS::AccountId}:${AWS::Region}:${DynamoDBBucketName}/*"
                  - !Sub "arn:aws:s3:::${AWS::AccountId}:${AWS::Region}:${DynamoDBBucketName}"
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
  
  # IAM Role for Glue Job Execution
  GlueExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: !Ref GlueJobExecutionRoleName
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service: "glue.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: "GlueJobPolicy"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "s3:PutObject"
                  - "s3:GetObject"
                  - "s3:ListBucket"
                Resource:
                  - !Sub "arn:aws:s3:::${AWS::AccountId}:${AWS::Region}:${DynamoDBBucketName}/*"
                  - !Sub "arn:aws:s3:::${AWS::AccountId}:${AWS::Region}:${DynamoDBBucketName}"
                  
              - Effect: "Allow"
                Action:
                  - "dynamodb:Scan"
                  - "dynamodb:Query"
                  - "dynamodb:BatchWriteItem"
                  - "dynamodb:BatchGetItem"
                  - "dynamodb:PutItem"
                  - "dynamodb:DeleteItem"
                  - "dynamodb:DescribeTable"
                Resource: "*"
              - Effect: "Allow"
                Action:
                  - "glue:GetJob"
                  - "glue:StartJobRun"
                  - "glue:GetJobRun"
                  - "glue:GetJobRuns"
                  - "glue:BatchStopJobRun"
                  - "glue:GetTables"
                  - "glue:GetTable"
                  - "glue:GetDatabase"
                Resource: "*"
              - Effect: "Allow"
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws-glue/*"

  # Lambda function to find the latest backup
  FindLatestBackupFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.lambda_handler"
      FunctionName: !Ref FindLatestBackupFunctionName
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import os

          dynamodb = boto3.client('dynamodb')

          def lambda_handler(event, context):
              try:
                  table_name = event['TABLE_NAME']  

                  # Get list of backups for the given table
                  response = dynamodb.list_backups(TableName=table_name)

                  if 'BackupSummaries' not in response or not response['BackupSummaries']:
                      return {
                          "statusCode": 404,
                          "body": f"No backups found for table {table_name}"
                      }

                  # Find the latest backup
                  latest_backup = max(response['BackupSummaries'], key=lambda x: x['BackupCreationDateTime'])

                  return {
                      "statusCode": 200,
                      "latest_backup_arn": latest_backup['BackupArn'],
                      "backup_creation_time": str(latest_backup['BackupCreationDateTime'])
                  }

              except Exception as e:
                  return {
                      "statusCode": 500,
                      "body": f"Error fetching backup: {str(e)}"
                  }

      Runtime: "python3.12"
      Timeout: 900

  # Lambda function to restore a backup
  RestoreBackupFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.lambda_handler"
      FunctionName: !Ref RestoreBackupFunctionName
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3
          from datetime import datetime

          dynamodb = boto3.client('dynamodb')

          def lambda_handler(event, context):
              try:
                  backup_arn = event['latest_backup_arn']
                  original_table_name = event['TABLE_NAME']
                  new_table_name = f"{original_table_name}_temp"

                  # Restore the table from backup
                  response = dynamodb.restore_table_from_backup(
                      TargetTableName=new_table_name,
                      BackupArn=backup_arn
                  )
                  
                  # Generate a unique filename using the current timestamp
                  timestamp = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
                  file_name = f"{new_table_name}_backup_{timestamp}.json"

                  # Return the response with necessary information including the new table name and the generated file name
                  return {
                      "statusCode": 200,
                      "body": f"Backup restored successfully to {new_table_name}",
                      "restore_table_arn": response['TableDescription']['TableArn'],
                      "restore_table_name": new_table_name,
                      "file_name": file_name  
                  }

              except Exception as e:
                  # Return an error response if something goes wrong
                  return {
                      "statusCode": 500,
                      "body": f"Error restoring backup: {str(e)}"
                  }
          
      Runtime: "python3.12"
      Timeout: 900

  # Lambda function to check the table status
  CheckRestoreStatusFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.lambda_handler"
      FunctionName: !Ref CheckRestoreStatusFunctionName
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3

          dynamodb = boto3.client('dynamodb')

          def lambda_handler(event, context):
              table_name = event.get("restored_table_name")

              if not table_name:
                  return {
                      "status": "ERROR",
                      "message": "Missing required input: restored_table_name."
                  }

              try:
                  response = dynamodb.describe_table(TableName=table_name)
                  table_status = response['Table']['TableStatus']

                  if table_status == "ACTIVE":
                      return {
                          "status": "ACTIVE",
                          "restored_table_name": table_name
                      }
                  else:
                      return {
                          "status": "CREATING",
                          "restored_table_name": table_name
                      }

              except Exception as e:
                  return {
                      "status": "ERROR",
                      "message": str(e),
                      "restored_table_name": table_name
                  }
          
      Runtime: "python3.12"
      Timeout: 900

  #Glue Job to Export DynamoDB data to S3
  ExportDynamoDBToS3:
    Type: "AWS::Glue::Job"
    Properties:                             
      Role: !GetAtt GlueExecutionRole.Arn
      Name: !Ref ExportDynamoDBToS3GlueName 
      GlueVersion: !Ref GlueExportversion
      WorkerType: !Ref GlueExportworkertype
      Timeout: !Ref GlueExportTimeout
      NumberOfWorkers: !Ref GlueExportnumberofworkers
      ExecutionProperty:
        MaxConcurrentRuns: !Ref GlueExportmaxconcuruns
      Command: {
        "Name" : "glueetl",
        "PythonVersion" : !Ref GlueExportpythonver,
        "ScriptLocation": !Sub "s3://${DynamoDBBucketName}/python-scripts/export_dynamodb_to_s3.py"
      }
      MaxRetries: 0
      Description: "BPD Split protegrity Glue Job."
       
  #Glue Job to Delete DynamoDB data
  DeleteDynamoDBData:
    Type: "AWS::Glue::Job"
    Properties:                             
      Role: !GetAtt GlueExecutionRole.Arn
      Name: !Ref DeleteDynamoDBDataGlueName
      GlueVersion: !Ref GlueExportversion
      WorkerType: !Ref GlueExportworkertype
      Timeout: !Ref GlueExportTimeout
      NumberOfWorkers: !Ref GlueExportnumberofworkers
      ExecutionProperty:
        MaxConcurrentRuns: !Ref GlueExportmaxconcuruns
      Command: {
        "Name" : "glueetl",
        "PythonVersion" : !Ref GlueExportpythonver,
        "ScriptLocation": !Sub "s3://${DynamoDBBucketName}/python-scripts/delete_dynamoDB_data.py"
      }
      MaxRetries: 0
      Description: "Delete DynamoDB Data Glue Job."
 
  #Glue Job to Import S3 data to DynamoDB 
  ImportS3ToDynamoDB:
    Type: "AWS::Glue::Job"
    DependsOn: DeleteDynamoDBData
    Properties:                             
      Role: !GetAtt GlueExecutionRole.Arn
      Name: !Ref ImportS3ToDynamoDBGlueName
      GlueVersion: !Ref GlueExportversion
      WorkerType: !Ref GlueExportworkertype
      Timeout: !Ref GlueExportTimeout
      NumberOfWorkers: !Ref GlueExportnumberofworkers
      ExecutionProperty:
        MaxConcurrentRuns: !Ref GlueExportmaxconcuruns
      Command: {
        "Name" : "glueetl",
        "PythonVersion" : !Ref GlueExportpythonver,
        "ScriptLocation": !Sub "s3://${DynamoDBBucketName}/python-scripts/import_s3_to_dynamodb.py"
      }
      MaxRetries: 0
      Description: "Import DynamoDB Data Glue Job."

  # Lambda function to delete DynamoDB table items
  DeleteDynamoDBTableFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: "index.lambda_handler"
      FunctionName: !Ref DeleteDynamoDBTableFunctionName
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import os

          # Initialize DynamoDB client
          dynamodb = boto3.client('dynamodb')

          def lambda_handler(event, context):
              try:
                  # Fetch the table name directly from the event input
                  table_name = event.get('TABLE_NAME')

                  if not table_name:
                      return {
                          "statusCode": 400,
                          "body": "TABLE_NAME is required in the input",
                          "delete_status": "FAILED"
                      }

                  # Delete the DynamoDB table
                  response = dynamodb.delete_table(TableName=table_name)

                  # If the table deletion was successful
                  if response['TableDescription']['TableName'] == table_name:
                      return {
                          "statusCode": 200,
                          "body": f"Table {table_name} deleted successfully!",
                          "delete_status": "SUCCEEDED"
                      }
                  else:
                      return {
                          "statusCode": 500,
                          "body": f"Failed to delete table {table_name}.",
                          "delete_status": "FAILED"
                      }

              except Exception as e:
                  # Handle any exceptions and return failure status
                  return {
                      "statusCode": 500,
                      "body": f"Error deleting table: {str(e)}",
                      "delete_status": "FAILED"
                  }

      Runtime: "python3.12"
      Timeout: 900
      
Outputs:
  FindLatestBackupFunctionName:
    Description: "Find Latest Backup Lambda Function Name"
    Value: !Ref FindLatestBackupFunction

  RestoreBackupFunctionName:
    Description: "Restore Backup Lambda Function Name"
    Value: !Ref RestoreBackupFunction

  DeleteDynamoDBTableFunctionName:
    Description: "Delete DynamoDB Table Lambda Function Name"
    Value: !Ref DeleteDynamoDBTableFunction

  LambdaExecutionRoleArn:
    Description: "The ARN of the Lambda execution role"
    Value: !GetAtt LambdaExecutionRole.Arn

  GlueExecutionRoleArn:
    Description: "The ARN of the Glue JOb execution role"
    Value: !GetAtt GlueExecutionRole.Arn


    # {
        #   "Comment": "DynamoDB Backup Restoration Process",
        #   "StartAt": "FindLatestBackup",
        #   "States": {
        #     "FindLatestBackup": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${FindLatestBackupFunctionName}",
        #       "Parameters": {
        #         "TABLE_NAME.$": "$.DynamoDBTableName"
        #       },
        #       "ResultPath": "$.backup",
        #       "Next": "RestoreBackup"
        #     },
        #     "RestoreBackup": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${RestoreBackupFunctionName}",
        #       "Parameters": {
        #         "TABLE_NAME.$": "$.DynamoDBTableName",
        #         "latest_backup_arn.$": "$.backup.latest_backup_arn"
        #       },
        #       "ResultPath": "$.restore",
        #       "Next": "CheckRestoreStatus"
        #     },
        #     "CheckRestoreStatus": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CheckRestoreStatusFunctionName}",
        #       "Parameters": {
        #         "restored_table_name.$": "$.restore.restore_table_name"
        #       },
        #       "ResultPath": "$.RestoreStatus",
        #       "Next": "IsTableActive"
        #     },
        #     "IsTableActive": {
        #       "Type": "Choice",
        #       "Choices": [
        #         {
        #           "Variable": "$.RestoreStatus.status",
        #           "StringEquals": "ACTIVE",
        #           "Next": "ExportToS3"
        #         }
        #       ],
        #       "Default": "WaitBeforeRetry"
        #     },
        #     "WaitBeforeRetry": {
        #       "Type": "Wait",
        #       "Seconds": 60,
        #       "Next": "CheckRestoreStatus"
        #     },
        #     "ExportToS3": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::glue:startJobRun",
        #       "Parameters": {
        #         "JobName": "ops-export-to-s3",
        #         "Arguments": {
        #           "--TABLE_NAME.$": "$.restore.restore_table_name",
        #           "--S3_BUCKET": "${DynamoDBBucketName}",
        #           "--FILE_NAME.$": "$.restore.file_name"
        #         }
        #       },
        #       "ResultPath": "$.export",
        #       "Next": "WaitForExportJob"
        #     },
        #     "WaitForExportJob": {
        #       "Type": "Wait",
        #       "Seconds": 30,
        #       "Next": "CheckExportJobStatus"
        #     },
        #     "CheckExportJobStatus": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
        #       "Parameters": {
        #         "JobName": "ops-export-to-s3",
        #         "RunId.$": "$.export.JobRunId"
        #       },
        #       "ResultPath": "$.jobStatus",
        #       "Next": "ExportJobStatusChoice"
        #     },
        #     "ExportJobStatusChoice": {
        #       "Type": "Choice",
        #       "Choices": [
        #         {
        #           "Variable": "$.jobStatus.JobRun.JobRunState",
        #           "StringEquals": "SUCCEEDED",
        #           "Next": "DeleteDynamoDBData"
        #         },
        #         {
        #           "Variable": "$.jobStatus.JobRun.JobRunState",
        #           "StringEquals": "FAILED",
        #           "Next": "FailState"
        #         }
        #       ],
        #       "Default": "WaitForExportJob"
        #     },
        #     "DeleteDynamoDBData": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::glue:startJobRun",
        #       "Parameters": {
        #         "JobName": "ops-delete-dynamodb-data",
        #         "Arguments": {
        #           "--TABLE_NAME.$": "$.TABLE_NAME"
        #         }
        #       },
        #       "ResultPath": "$.delete",
        #       "Next": "WaitForDeleteJobCompletion"
        #     },
        #     "WaitForDeleteJobCompletion": {
        #       "Type": "Wait",
        #       "Seconds": 30,
        #       "Next": "GetDeleteJobStatus"
        #     },
        #     "GetDeleteJobStatus": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
        #       "Parameters": {
        #         "JobName.$": "$.delete.JobName",
        #         "RunId.$": "$.delete.JobRunId"
        #       },
        #       "ResultPath": "$.delete.Status",
        #       "Next": "CheckDeleteJobStatus"
        #     },
        #     "CheckDeleteJobStatus": {
        #       "Type": "Choice",
        #       "Choices": [
        #         {
        #           "Variable": "$.delete.Status.JobRun.JobRunState",
        #           "StringEquals": "SUCCEEDED",
        #           "Next": "ImportS3ToDynamoDB"
        #         },
        #         {
        #           "Variable": "$.delete.Status.JobRun.JobRunState",
        #           "StringEquals": "FAILED",
        #           "Next": "FailState"
        #         },
        #         {
        #           "Variable": "$.delete.Status.JobRun.JobRunState",
        #           "StringEquals": "STOPPED",
        #           "Next": "FailState"
        #         }
        #       ],
        #       "Default": "WaitForDeleteJobCompletion"
        #     },
        #     "ImportS3ToDynamoDB": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::glue:startJobRun",
        #       "Parameters": {
        #         "JobName": "ops-imports3-to-dynamodb",
        #         "Arguments": {
        #           "--TABLE_NAME.$": "$.TABLE_NAME",
        #           "--S3_BUCKET": "${DynamoDBBucketName}",
        #           "--S3_KEY.$": "$.restore.file_name"
        #         }
        #       },
        #       "ResultPath": "$.import",
        #       "Next": "WaitForImportJobCompletion"
        #     },
        #     "WaitForImportJobCompletion": {
        #       "Type": "Wait",
        #       "Seconds": 60,
        #       "Next": "GetImportJobStatus"
        #     },
        #     "GetImportJobStatus": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
        #       "Parameters": {
        #         "JobName.$": "$.import.JobName",
        #         "RunId.$": "$.import.JobRunId"
        #       },
        #       "ResultPath": "$.import.Status",
        #       "Next": "CheckImportJobStatus"
        #     },
        #     "CheckImportJobStatus": {
        #       "Type": "Choice",
        #       "Choices": [
        #         {
        #           "Variable": "$.import.Status.JobRun.JobRunState",
        #           "StringEquals": "SUCCEEDED",
        #           "Next": "DeleteDynamoDBTable"
        #         },
        #         {
        #           "Variable": "$.import.Status.JobRun.JobRunState",
        #           "StringEquals": "FAILED",
        #           "Next": "FailState"
        #         },
        #         {
        #           "Variable": "$.import.Status.JobRun.JobRunState",
        #           "StringEquals": "STOPPED",
        #           "Next": "FailState"
        #         }
        #       ],
        #       "Default": "WaitForImportJobCompletion"
        #     },
        #     "DeleteDynamoDBTable": {
        #       "Type": "Task",
        #       "Resource": "arn:aws:lambda:us-east-1:259086700288:function:ops-delete-dynamodb-table",
        #       "Parameters": {
        #         "TABLE_NAME.$": "$.restore.restore_table_name"
        #       },
        #       "Next": "SucceedState"
        #     },
        #     "FailState": {
        #       "Type": "Fail",
        #       "Error": "ProcessFailed",
        #       "Cause": "An error occurred during the process."
        #     },
        #     "SucceedState": {
        #       "Type": "Succeed"
        #     }
        #   }
        # }